*{
	margin: 0;
	padding: 0;
}
fieldset{
	margin: 50px auto;
	width: 400px;
	height: 120px;
	font-size: 20px;
	padding-left: 30px;
}
#addBtn{
	width: 150px;
	height: 22px;
	margin: 10px 40px;
}
table{
	border-collapse: collapse;
	font-size: 20px;
	margin-bottom: 15px;
	margin: 50px auto;
}
th{
	font-weight: 400;
	color: brown;
}
td,th{
	border: solid 1px black;
	height: 25px;
	line-height: 25px;
	width: 80px;
	padding-right: 7px;
}
#page{
	margin-top: 20px;
	margin-left: 280px;
}
#back{
	position: fixed;
	right: 100px;
	font-size: 20px;
}
h3{
	margin-top: 50px;
	font-size: 35px;
	font-weight:400;
	text-align: center;
}
body{
	background: url(../../static/img/public.jpg) no-repeat;
	background-size: 100%;
}
